node_modules/
.env
*.key
*.pem

*.backup
*.backup-*
*.before-*
server-backup*.js
server-*.backup*.js

*.mp3
*.wav
*.mp4
*.apk
*.pdf
*.docx
*.zip
*.jpg
*.jpeg
*.png
*.webp
*.avif

response*.txt
result.txt
schema.txt
event.txt
info.json
new.txt
hasil_sse.txt
server-*-backup*.js
.vercel
.env*
